* {
  font-family: "PT Sans Caption", sans-serif;
}

body {
  background-color: #f7ecde;
}

h1 {
  font-family: "Pacifico", cursive;
  width: fit-content;
}

h5 {
  font-family: "Righteous", sans-serif;
}
